.slider h3,
.slider h5,
.clients h3 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.parallax-container{
    height: 20%;
}

.parallax img {
    /* filter: grayscale(1); */
    opacity: 0.5 !important;
}

.clients img{
    max-width: 150px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,.5));
}

section,footer{
    padding: 20px 0;
}

.portfolio img{
    height: 180px;
    width: 240px;
    margin: 2px !important;
    border: #000000 2px solid !important;
}

.nav-wrapper li :hover,
.sidenav .temp1 :hover{
        border-bottom: 2px solid rgb(185, 40, 40);
}
.navbar-fixed ul li a,
.brand-logo{
    color: lightblue ;
    font-weight: bolder !important;
    /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}
.navbar-fixed{
    position: absolute;
}
.temp1 a,
.sidenav p{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}